* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #622569, #b8a9c9, #622569);
  background-repeat: no-repeat;
}

.title h1 {
  color: white;
  letter-spacing: 1px;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  font-size: 2rem;
}

p {
  text-align: center;
  margin-top: 1.5rem;
}

label {
  color: white;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  border: 0 solid white;
  border-bottom: 0.2rem solid purple;
  outline: none;
  margin-bottom: 0.8rem;
  background-color: #b8a9c9;
}
